name: Update PBOC Data

on:
  schedule:
    - cron: '0 */6 * * *'   # Every 6 hours
  workflow_dispatch:        # Allow manual run

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Test IMF connectivity
        run: curl -I "https://dataservices.imf.org/REST/SDMX_JSON.svc/"

      - name: Commit updated data
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
            commit_message: "Update PBOC dataset"
            file_pattern: data/pboc.json
            push_options: '--force'